.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
    padding: 1rem;
}

.canvas {
    width: 20em;
    height: 20em;
    border: 1px solid #d65a31;
    /* overflow: hidden; */
    box-sizing: content-box;
}

.complete__btn {
    border: 1px solid #000000;
    background-color: #d65a31;
    border-radius: 4px;
    padding: 1rem;
    font-size: large;
    cursor: pointer;
    width: max-content;
}

@media screen and (max-width: 768px) {
    .create {
        height: 100%;
    }
    .canvas {
        width: 20em;
        height: 20em;
    }
}

@media screen and (max-width: 480px) {
    .canvas {
        width: 20em;
        height: 20em;
        margin-top: 0;
    }
    .create {
        padding-bottom: 3rem;
    }
}