.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    color: #D65A31;
    padding: 1rem;
    height: 5%;
    position: fixed;
    z-index: 1111;
    bottom: 0;
    width: 100%;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.footer__links a:hover {
    color: #EEEEEE;
}
