.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222831;
    color: #D65A31;
    padding: 1rem;
    height: 5%;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.footer__links a:hover {
    color: #EEEEEE;
}

@media screen and (max-width: 768px) {
    .footer__links {
        display: flex;
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .footer__links {
        display: flex;
        width: 100%;
    }
}
